.form-modal {
  height: 100%;
}

.form-container {
  background: $true-white;
  // width: 40rem;
  font-size: 1.4rem;
  box-shadow: none;
  padding: 0.8rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 0.6rem;
}
