// blues
$baby-blue: #91D2FA;
$baby-blue-transparent: rgba(170, 210, 250, 0.2);
$off-baby-blue: #91D2D0;

// greys
$slate-grey: #66757F;
$light-grey: #999999;
$very-light-grey: #E6ECF0;
$extremely-light-grey: #EEEEEE;
$grey: #545454;

// blacks
$true-black: #000000;
$light-black: #181818;

// whites
$true-white: #FFFFFF;

// reds
$red: #CF473E;

// greens
$green: #74D14C;
$seafoam: #91D2B5;
